<div class="form-container">

  <div class="form-box">
    <h2 id="form-title" style="margin-bottom: 50px; text-align: center">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

     <div class="form-inputs">
         <%= f.input :first_name,
                     required: true,
                     autofocus: true,
                     label: false,
                     placeholder: "First name",
                     input_html: { autocomplete: "first_name" }%>
         <%= f.input :last_name,
                     required: true,
                     autofocus: true,
                     label: false,
                     placeholder: "Last name",
                     input_html: { autocomplete: "last_name" }%>
         <%= f.input :email,
                     required: true,
                     autofocus: true,
                     label: false,
                     placeholder: "Email",
                     input_html: { autocomplete: "email", value: params[:email] }%>

         <%= f.input :password,
                     required: true,
                     label: false,
                     placeholder: "Password*",
                     hint: ("*#{@minimum_password_length} characters minimum" if @minimum_password_length),
                     input_html: { autocomplete: "new-password" } %>
         <%= f.input :password_confirmation,
                     required: true,
                     label: false,
                     placeholder: "Confirm password",
                     input_html: { autocomplete: "new-password" } %>
       </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", :class => "btn-primary" %>
      </div>
    <% end %>

    <div class="form-links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
