<%= simple_form_for([flat, rental, ticket, comment], remote: true) do |f| %>
  <%= f.input :content, as: :string, placeholder: "Your comment goes here",
    label: false, input_html: {data: {subscribers: ticket.subscribers.as_json(methods: :full_name, only: [:first_name, :email])}}, autocomplete: "off" %>
  <div class="button-box"><%= f.submit class: 'btn-primary' %></div>

<% end %>

<%= javascript_pack_tag 'tribute' %>

<% content_for :after_js do %>
  <script>
    App['ticket_<%= @ticket.id %>'] = App.cable.subscriptions.create(
      { channel: 'TicketsChannel', ticket_id: <%= @ticket.id %> },
      { received: (data) => {
        const commentsSection = document.getElementById('comments');
        commentsSection.insertAdjacentHTML('beforeend', data.comment_partial);
        commentsSection.firstElementChild.innerText = 'Comment section';
        document.getElementById('comment_content').value = "";
        }
      }
    )

  </script>
<% end %>
