<div class="listener-cards" data-comment-id="<%= comment.id %>">
  <div class="comment-section">
    <%= image_tag avatar(comment.user), style: "width: 100px; height: 100px; object-fit: cover;" %>

      <div class="comment-details">
        <h3> <%= comment.content %> </h3>
        posted on <%= comment.created_at.strftime("%d/%m/%Y") %>  at <%= comment.created_at.strftime("%H:%M") %> by <%= comment.user.full_name %>
        <p>
          <%= link_to "Delete comment", flat_rental_ticket_comment_path(@ticket.rental.flat, @ticket.rental, @ticket, comment),
                        method: :delete, remote: true, data: {confirm: "Are you sure you want to delete the comment?"} %>
        </p>
      </div>
  </div>
</div>



