<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="col-lg-9 col-md-12 col-sm-12 flat-content-container">

    <div class="col-lg-12 col-md-12 col-sm-12 flat-show-box">
      <h2>About this kokoon</h2>
      <p><%= @flat.description %></p>
    </div>

    <% if current_user.is_landlord? %>
      <div class="col-lg-12 col-md-12 col-sm-12 flat-show-box">
        <%= render 'flats/landlord_show' %>
        <div class="tenant-details-footer">
          <p> <%= link_to("＋ Add a new tenant", new_flat_rental_path(@flat)) %> </p>
        </div>
      </div>
    <% end %>

    <% if if current_user.is_tenant? %>
        <%= render 'flats/tenant_show' %>
      </div>
    <% end %>

  </div>
</div>

<% unless @flat.tickets.empty? %>
  <h3>Tickets</h3>
  <% @flat.tickets.each do |ticket| %>
    <p>
      <%= link_to(ticket.title, flat_rental_ticket_path(@flat, ticket.rental,ticket)) %>
      with priority of <%= ticket.priority %> out of 10
    </p>
  <% end %>
<% end %>