<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="col-lg-9 col-md-12 col-sm-12 flat-content-container">
    <div class="row d-flex justify-content-between" >
      <div class="col-lg-7 col-md-7 col-sm-12 " style="padding-left: 0px;">
         <div class="about">
            <h1 style="color: #3f3f3f;">About this kokoon</h1>
            <p><%= @flat.description %></p>
            <% if current_user.is_landlord? %>
            <%= landlord_total_income(current_user) %>
            <%= landlord_income_current_flat(current_user) %>

            <% end %>

          </div>

        <% if policy(@flat).edit? %>
          <div class="invitation">
              <% unless @flat.pending_rentals.empty? %>
                <h2>Pending invite for <%= @flat.address %>  </h2>
                <% @flat.pending_rentals.each do |rental| %>
                  <p>Your invitation to <%= rental.tenant_email %> is still pending. </p>
                   <%= link_to("Edit invitation", edit_flat_rental_path(@flat, rental)) %>
                <% end %>
              <% end %>
            </div>
        <% end %>



          <% if policy(@flat).edit? %>
          <div class="col-lg-12 col-md-12 col-sm-12 flat-show-box">
          <% unless @flat.accepted_rentals.empty? %>
            <h3>Current tenants</h3>
            <%= render 'shared/flat_tenant_feed' %>
          <% end %>
            <div class="tenant-details-footer">
              <p> <%= button_to("＋ Add new tenant", new_flat_rental_path(@flat), method: 'get', class: 'btn-primary') %> </p>
            </div>
          </div>
        <% end %>
      </div>

      <% if current_user.is_tenant? %>
        <div class="col-lg-4 col-md-4 col-sm-12 flat-show-box">
            <%= render 'flats/tenant_show' %>
        </div>
      <% end %>

      <% if policy(@flat).edit? %>
        <div class="col-lg-4 col-md-4 col-sm-12">

        </div>
      <% end %>

    </div>

    <% unless @flat.tickets.empty? %>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="mytickets">
              <h1 style="font-size: 1.5em; margin-bottom: 30px; color: #3f3f3f;">Tickets</h1>

              <div class="row">
              <%= render 'shared/flat_ticket_feed' %>
              </div>
            </div>
        </div>
     <% end %>



    </div>
  </div>
</div>


