<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="flat-content-box">

    <h2>About this kokoon</h2>

    <p class="description"> <%= @flat.description %></p>

  </div>
</div>

<% if is_landlord?(current_user) %>
  <%= render 'flats/landlord_show' %>
<% end %>

<% if is_tenant?(current_user) %>
  <%= render 'flats/tenant_show' %>
<% end %>

<% unless @flat.tickets.empty? %>
  <% @flat.tickets.each do |ticket| %>
    <%= link_to(ticket.title, flat_rental_ticket_path(@flat, @flat.rental(current_user),ticket)) %>
    with priority of <%= ticket.priority %> out of 10
  <% end %>
<% end %>

<h3>
  <%= link_to("Add a ticket", new_flat_rental_ticket_path(@flat, @flat.rental(current_user))) %>
</h3>
