<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="flat-content-box">

    <h2>About this kokoon</h2>

    <p class="description"> <%= @flat.description %></p>

  </div>
</div>

<% if current_user.is_landlord? %>
  <h1>Info for landlord</h1>
  <%= render 'flats/landlord_show' %>
<% end %>

<% if current_user.is_tenant? %>
  <h1>Info for tenant</h1>
  <%= render 'flats/tenant_show' %>
<% end %>

<% unless @flat.tickets.empty? %>
  <h3>Tickets</h3>
  <% @flat.tickets.each do |ticket| %>
    <p>
      <%= link_to(ticket.title, flat_rental_ticket_path(@flat, ticket.rental,ticket)) %>
      with priority of <%= ticket.priority %> out of 10
    </p>
  <% end %>
<% end %>
