<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="col-lg-9 col-md-12 col-sm-12 flat-content-container">

    <div class="col-lg-12 col-md-12 col-sm-12 flat-show-box">
      <h3>Landlord</h3>
      <%= image_tag avatar(@flat.user), class: "avatar-large" %>
      <p><%= @flat.user.full_name %></p>
    </div>

    <% unless @flat.accepted_rentals.empty? %>
      <div class="col-lg-12 col-md-12 col-sm-12 flat-show-box">
        <h3>People in this flat</h3>
        <%= render 'shared/flat_tenant_feed' %>
        <% if current_user.is_landlord? %>
          <div class="tenant-details-footer">
            <p> <%= link_to("＋ Add a new tenant", new_flat_rental_path(@flat)) %> </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
