<h1>Edit my profile</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone_number %>
  <%= f.input :email %>
  <%= f.input :avatar %>
  <%= f.input :avatar_cache, as: :hidden %>
  <%= f.input :description %>
  <%= f.input :birthdate %>
  <%= f.input :id_scan %>
  <%= f.input :id_scan_cache, as: :hidden %>
  <%= f.submit class: 'btn btn-primary mb-2' %>
<% end %>

<%= link_to("Go back", my_account_path) %>
