<% @flat.accepted_rentals.each_with_index do |rental, index| %>
  <% unless index == 0 %>
      <hr>
  <% end %>
  <div class="tenant-card">

    <div class="col-lg-2 col-md-2 col-sm-2 tenant-avatar-card">
      <%= image_tag avatar(rental.tenant), class: "avatar-large" %>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="tenant-details">
        <h4><%= rental.tenant.full_name %></h4>
        <h6 class="attributes"><strong>Contact tenant:</strong> &nbsp; <a href="mailto:<%= rental.tenant.email %>"><%= rental.tenant.email %></a></h6>
        <p><%= rental.tenant.description %></p>
      </div>

      <% if current_user.is_landlord? %>
        <div class="tenant-details">
          <h6 class="attributes"><strong>Rental period:</strong></h6>
          <h6 class="attributes">from <%= rental.start_date %> to <%= rental.end_date %></h6>
          <h6 class="attributes"><strong>Price:</strong> &nbsp; <%= rental.price %> per month</h6>
        </div>

        <div class="tenant-details-action">
          <%= link_to(" Edit tenant", edit_flat_rental_path(@flat, rental)) %>
          <%= link_to(" Delete tenant", flat_rental_path(@flat, rental), method: :delete, data: {confirm: "Are you sure?"}) %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
