<div class="menu-box">

  <%= link_to my_account_path do %>

    <% if user_signed_in? && (current_user.unread_tickets.count > 0) %>
      <div class="badge badge-danger">
        <%= link_to current_user.unread_tickets.count, my_account_path(anchor: 'unread_tickets') %>
      </div>
    <% else %>
      <div class="badge badge-danger badge-hidden"> </div>
    <% end %>

  <% end %>




      <% if user_signed_in? %>

           <%= image_tag avatar(current_user), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>


        <div class="dropdown-menu">
              <% unless current_user.rented_flats.empty? %>
                <%= link_to "My current flat", flat_path(current_user.rented_flats.last), class: "dropdown-item" %>
              <% end %>
              <%= link_to "My account", my_account_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>


        <% else %>

            <%= link_to "Already in kokoon? Login", new_user_session_path, id: "login" %>

         <% end %>

</div>


