<div class="col-lg-3 col-md-12 col-sm-12 flat-side-bar">
  <%= image_tag img(@flat) %>

  <div class="sidebar-content">
    <h4 class="sidebar-heading"><%= @flat.address %> </h4>

    <div class="sidebar-public">
      <ul>
        <li><i class="fas fa-couch"></i><%= link_to("About this kokoon", flat_path(@flat)) %></li>
        <li><i class="fas fa-users"></i><%= link_to("People in this kokoon", users_in_flat_path(@flat)) %></li>
        <li><i class="fas fa-ticket-alt"></i><%= link_to("Tickets", tickets_of_flat_path(@flat)) %></li>
      </ul>

        <% unless current_user.is_landlord? == true %>
        <li><i class="fas fa-file-invoice-dollar"></i><%= link_to("Payments", rental_payment_path(@flat.id, current_user.accepted_rentals.last)) %></li>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          + Add a ticket
        </button>
        <% end %>
    </div>

    <% if policy(@flat).update? %>
    <div class="sidebar-admin">
      <h4 class="sidebar-subheading"><i class="fas fa-lock"></i> Admin Area</h4>
      <ul>
        <li><i class="fas fa-plus-circle"></i><%= link_to("Add tenants", new_flat_rental_path(@flat.id), target: '_blank') %></li>
        <li><i class="fas fa-edit"></i><%= link_to("Edit flat", edit_flat_path(@flat), target: '_blank') %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/modal_add_ticket' %>
