<div class="col-lg-3 col-md-12 col-sm-12 flat-side-bar">
  <%= image_tag img(@flat) %>

  <div class="sidebar-content">
    <h4 class="sidebar-heading"><%= @flat.address %> </h4>

    <div class="sidebar-public">
      <ul>
        <li><i class="fas fa-couch"></i> <%= link_to("About this kokoon", flat_path(@flat)) %></li>
        <li><i class="fas fa-users"></i> <%= link_to("People in this kokoon", users_in_flat_path(@flat)) %></li>
        <li><i class="fas fa-ticket-alt"></i> <%= link_to("Tickets", tickets_of_flat_path(@flat)) %></li>
        <% if current_user.is_landlord? == false %>
          <li><i class="fas fa-plus-circle"></i> <%= link_to("Add new ticket", new_flat_rental_ticket_path(@flat.id, current_user.accepted_rentals.last.id), target: '_blank') %></li>
        <% end %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          + Add a ticket
        </button>

      </ul>
    </div>

    <% if policy(@flat).update? %>
    <div class="sidebar-admin">
      <h4 class="sidebar-subheading"><i class="fas fa-lock"></i> Admin Area</h4>
      <ul>
        <li><i class="fas fa-plus-circle"></i><%= link_to("Add tenants", new_flat_rental_path(@flat.id), target: '_blank') %></li>
        <li><i class="fas fa-edit"></i><%= link_to("Edit flat", edit_flat_path(@flat), target: '_blank') %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @rental.present? %>
        <%= render 'shared/add_ticket_form', rental: @rental, flat: @flat, ticket: Ticket.new %>
        <% else %>
        <%= render 'shared/add_ticket_form', rental: current_user.accepted_rentals.last, flat: @flat, ticket: Ticket.new %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
