<%= simple_form_for [@flat, @rental] do |f| %>
  <%= f.input :tenant_email,
              label: false,
              placeholder: "Tenant email" %>
  <%= f.input :price,
              label: false,
              placeholder: "Monthly rent" %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit class: 'btn btn-primary mb-2' %>
<% end %>

<div class="form-links">
<%= link_to("â† Go back", my_account_path) %>
</div>
