<%= csrf_meta_tags %>

<h1>Hello <%= current_user.first_name %></h1>

<p>Are you renting a flat located at <%= @flat.address  %> from <%= @rental.start_date  %> to <%= @rental.end_date  %> for <%= @rental.price %> per month? </p>

<%= button_to("Join flat", accept_rental_path, class: "btn-secondary") %>
