<h1>My properties</h1>
<div class="row justify-content-between">
  <% @owned_flats.each do |flat| %>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card-user">
      <%= image_tag img(flat) %>
      <div class="card-user-text">
        <h2> <%= link_to(flat.address, flat_path(flat)) %> </h2>
          <div class="edit">
            <%= link_to("Edit", edit_flat_path(flat)) %>
            <%= link_to("Add tenant", new_flat_rental_path(flat)) %>
          </div>
       </div>
         </div>
       </div>
  <% end %>

  <p class="col-lg-6 col-md-12 col-sm-12"> <%= link_to("＋ Add a new flat", new_flat_path) %> </p>
