<h1>My account</h1>

<h2> <%= current_user.first_name %> <%= current_user.last_name %></h2>
<h2> <%= current_user.phone_number %></h2>
<%= image_tag avatar(current_user), class: "avatar" %>

<p>current_user.description</p>

<h2><%= link_to("Edit profile info", edit_user_registration_path(current_user)) %></h2>

<% @flats.each do |flat| %>
  <li>
    <ul><%= flat.address %> <%= link_to("Edit", edit_flat_path(flat)) %></ul>
  </li>
<% end %>

<p> <%= link_to("Add a new flat", new_flat_path) %> </p>
