<div class="account-container">

  <div class="account-aside">

    <%= image_tag avatar(current_user) %>

    <h1> Welcome, <%= current_user.first_name %>!</h1>

    <p><strong>First name:</strong>  <i><%= current_user.first_name %></i><br>
      <strong>Last name:</strong> <i><%= current_user.last_name %></i><br>
      <strong>Phone number:</strong>  <i><%= current_user.phone_number %></i><br>
      <strong>Email:</strong>  <i><%= current_user.email %></i></p>
      <p><%= current_user.description %></p>
      <div class="button-box">
        <%= button_to("Edit profile info", edit_user_registration_path, method: :get, class: "btn-secondary") %>
      </div>


  </div>

  <div class="account-main">



    <% unless is_tenant?(current_user) || is_landlord?(current_user) || tenant_pending?(current_user) %>
      <div class="welcome-landlord">

      <h2>Welcome to <strong>Kokoon</strong>.<br>Get started and add a flat. </h2>
       <p id="btn-add"><%= link_to '+ Add flat', new_flat_path %> <p>
      <h2><strong>You're a tenant?</strong><br> Do not hestitate to ask your tenant for an invitation link to join your flat.</h2>

      </div>
    <% end %>

    <% if is_landlord?(current_user) %>
      <%= render 'pages/landlord_properties' %>
    <% end %>


    <% if tenant_pending?(current_user) %>
      <div class="invitation">
      <%= csrf_meta_tags %>
      <p>
        <strong><%= @pending_flat.user.first_name %> <%= @pending_flat.user.last_name %></strong>
        sent you one invitation for a flat located at  <strong><%= @pending_flat.address %></strong>
        from  <strong><%= @pending_rental.start_date %></strong>.
      </p>
      <%= button_to("Join flat", flat_accept_rental_path(@pending_flat.id, @pending_rental.id), class: "btn-secondary") %>
      </div>
    <% end %>

    <% if is_tenant?(current_user)  %>
      <%= render 'pages/tenant_flats' %>
    <% end %>

    <% if is_tenant?(current_user) || is_landlord?(current_user) %>
      <%= render 'pages/tickets' %>
    <% end %>

    </div>

  </div>

  </div>
