<div class="account-container">

  <div class="account-aside">
    <a href="#" id="toggle-aside">
        <!-- <img src="https://image.flaticon.com/icons/svg/109/109617.svg"> -->
        <%= image_tag('left-arrow.png', id: "image-arrow") %>
        <%= image_tag('right-arrow.png', id: "image-arrow-right", class: "hidden") %>
    </a>

    <div class="image-aside"> <%= image_tag avatar(current_user) %> </div>
    <h1> Welcome, <%= current_user.first_name %>!</h1>
    <h5>✉️ <%= current_user.email %>
    <br>👤 Member since <%= current_user.created_at.strftime("%m/%Y")%></h5>
    <% if current_user.is_landlord? %>
    <div class="stat-box">
      <ul>
        <li><i class="fas fa-couch"></i><div class="stat"><%= current_user.flats.count %></strong> flats</div></li>
        <li><i class="fas fa-file-contract"></i><div class="stat"><%= current_user.flats.map{ |flat| flat.rentals.count }.sum %></strong> rental contracts</div></li>
        <li><i class="fas fa-coins"></i><div class="stat">€ <%= landlord_total_income(current_user) %> income/month</div></li>
      </ul>
    </div>
    <% end %>


      <div class="button-box">
        <%= button_to("Edit profile info", edit_user_registration_path, method: :get, class: "btn-primary aside") %>
      </div>


  </div>

  <div class="account-main">

    <% unless current_user.is_tenant? || current_user.is_landlord? || !@pending_invites.empty? %>
      <div class="welcome-landlord">
        <h2>Welcome to <strong>Kokoon</strong>.<br>Get started and add a flat. </h2>
        <p id="btn-add"><%= link_to '+ Add flat', new_flat_path %> <p>
        <h2><strong>You're a tenant?</strong><br> Do not hesitate to ask your tenant for an invitation link to join your flat.</h2>
      </div>
    <% end %>


    <% if current_user.is_tenant? || current_user.is_landlord? %>
      <%= render 'pages/tickets' %>
    <% end %>

    <% if current_user.is_landlord? %>
      <%= render 'pages/landlord_properties' %>
    <% end %>

      <%#= csrf_meta_tags %>


    <% if current_user.is_tenant?  %>
      <%= render 'pages/tenant_flats' %>
    <% end %>



  </div>


   <% @pending_invites.each do |invite| %>
      <div class="invitation">
        <%= image_tag avatar(invite.flat.user), class: 'avatar-large' %>
        <p><strong><%= invite.flat.user.full_name %> </strong>sent you one invitation for a flat located at  <strong><%= invite.flat.address %></strong> from <strong><%= invite.start_date %></strong> to <strong><%= invite.end_date %></strong>.</p>
        <%= button_to("Join flat", flat_accept_rental_path(invite.flat.id, invite.id), class: "btn-secondary") %>
      </div>
    <% end %>


  </div>

  <%= javascript_pack_tag 'init_aside' %>
  <%= javascript_pack_tag 'backtotop' %>

