<h1>My account</h1>

<%= @user.first_name %> <%= @user.last_name %>
<%= @user.phone_number %>

<% @flats.each do |flat| %>
  <li>
    <ul><%= flat.address %> <%= link_to("Edit", edit_flat_path(flat)) %></ul>
  </li>
<% end %>

<p> <%= link_to("Add a new flat", new_flat_path) %> </p>
