<div class="account-container">

  <div class="account-aside">

     <div class="image-aside"> <%= image_tag avatar(current_user) %> </div>

    <h1> Welcome, <%= current_user.first_name %>!</h1>

    <p><strong>First name:</strong>  <i><%= current_user.first_name %></i><br>
      <strong>Last name:</strong> <i><%= current_user.last_name %></i><br>
      <strong>Phone number:</strong>  <i><%= current_user.phone_number %></i><br>
      <strong>Email:</strong>  <i><%= current_user.email %></i></p>
      <p id="description"><%= current_user.description %></p>
      <div class="button-box">
        <%= button_to("Edit profile info", edit_user_registration_path, method: :get, class: "btn-secondary") %>
      </div>


  </div>

  <div class="account-main">

    <% unless current_user.is_tenant? || current_user.is_landlord? || !@pending_invites.empty? %>
      <div class="welcome-landlord">
        <h2>Welcome to <strong>Kokoon</strong>.<br>Get started and add a flat. </h2>
        <p id="btn-add"><%= link_to '+ Add flat', new_flat_path %> <p>
        <h2><strong>You're a tenant?</strong><br> Do not hesitate to ask your tenant for an invitation link to join your flat.</h2>
      </div>
    <% end %>

    <% if current_user.is_landlord? %>
      <%= render 'pages/landlord_properties' %>
    <% end %>

      <%#= csrf_meta_tags %>
    <% @pending_invites.each do |invite| %>
      <div class="invitation">
        <%= image_tag avatar(invite.flat.user), class: 'avatar-large' %>
        <p><strong><%= invite.flat.user.full_name %> </strong>sent you one invitation for a flat located at  <strong><%= invite.flat.address %></strong>from <strong><%= invite.start_date %></strong> to <strong><%= invite.end_date %></strong>.</p>
        <%= button_to("Join flat", flat_accept_rental_path(invite.flat.id, invite.id), class: "btn-secondary") %>
      </div>
    <% end %>

    <% if current_user.is_tenant?  %>
      <%= render 'pages/tenant_flats' %>
    <% end %>

    <% if current_user.is_tenant? || current_user.is_landlord? %>
      <%= render 'pages/tickets' %>
    <% end %>

  </div>

  </div>


