<%= simple_form_for [@flat, @rental, @ticket] do |f| %>
  <%= f.input :title,
              label: false,
              placeholder: "Title" %>
  <%= f.input :category, collection: @ticket.available_categories %>
  <%= f.input :room,
              label: false,
              placeholder: "Room" %>
  <%= f.input :content,
              label: false,
              placeholder: "Content"  %>
  <%= f.input :priority, collection: (1..10), include_blank: false %>
  <%= f.input :photo %>
  <%= f.input :status, collection: @ticket.available_status, include_blank: false, selected: 'new'  %>
  <h5>Subscribers</h5>
  <%= f.simple_fields_for :subscriptions do |s| %>
    <% @i += 1 %>
    <p>
      <%= s.label "#{@subscribers[@i-1].first}" %>
      <%= s.collection_radio_buttons :user_id, [[@subscribers[@i-1].last, 'Yes'], ["", 'No']], :first, :last  %>
    </p>
  <% end %>
  <%= f.submit class: 'btn btn-primary mb-2' %>
<% end %>

<%= link_to("â† Back", flat_path(@flat)) %>
