<div class="form-container">
  <div class="form-box">
    <h2 id="form-title">Add a new ticket</h2>

    <%= simple_form_for [@flat, @rental, @ticket] do |f| %>
      <%= f.input :title,
                  label: false,
                  placeholder: "Title" %>
      <%= f.input :category, collection: @ticket.available_categories %>
      <%= f.input :room,
                  label: false,
                  placeholder: "Room" %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Content"  %>
      <%= f.input :priority, collection: (1..10), include_blank: false %>
      <%= f.input :photo %>
      <%= f.input :status, collection: @ticket.available_status, include_blank: false, selected: 'new'  %>
      <p id="subscribers">Subscribers</p>
      <% @ticket.potential_subscribers.each_with_index do |subscriber, i| %>
        <input type="hidden"></input>
        <% if subscriber == current_user %>
          <%= image_tag avatar(@ticket.potential_subscribers[i]), class: "avatar-large selected" %>
          <p> You </p>
        <% elsif subscriber == @flat.user %>
          <%= image_tag avatar(subscriber), class: "avatar-large clickable", 'data-user' => "#{subscriber.id}", 'data-subscription' => "#{i}" %>
          <p> Your landlord <%= subscriber.full_name %> </p>
        <% else %>
          <%= image_tag avatar(subscriber), class: "avatar-large clickable", 'data-user' => "#{subscriber.id}", 'data-subscription' => "#{i}" %>
          <p> <%= subscriber.full_name %> </p>
        <% end %>
      <% i += 1 %>
      <% end %>
      <%= f.submit class: 'btn btn-primary mb-2' %>
    <% end %>

    <%= link_to("â† Back", flat_path(@flat)) %>
  </div>
</div>


<%= javascript_pack_tag 'new_subscriptions' %>


<%#= s.collection_radio_buttons :user_id, [[@subscribers[@i-1].last, 'Yes'], ["", 'No']], :first, :last  %>
