<div class="forms">
  <div class="form-box">
    <h2 id="form-title">Add a new ticket</h2>
    <%= simple_form_for [@flat, @rental, @ticket] do |f| %>
      <%= f.input :title,
                  label: false,
                  placeholder: "Title" %>
      <%= f.input :category, collection: @ticket.available_categories %>
      <%= f.input :room,
                  label: false,
                  placeholder: "Room" %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Content"  %>
      <%= f.input :priority, collection: (1..10), include_blank: false %>
      <%= f.input :photo %>
      <%= f.input :status, collection: @ticket.available_status, include_blank: false, selected: 'new'  %>
      <h5>Subscribers</h5>
      <% i = 0 %>
      <%= f.simple_fields_for :subscriptions do |s| %>
        <%= s.input :user_id, as: :hidden %>
        <% if @ticket.potential_subscribers[i] == current_user %>
          <%= image_tag avatar(@ticket.potential_subscribers[i]), class: "avatar-large selected", 'data-user' => "#{@ticket.potential_subscribers[i].id}", 'data-subscription' => "#{i}" %>
          <p> You </p>
        <% else %>
          <%= image_tag avatar(@ticket.potential_subscribers[i]), class: "avatar-large clickable", 'data-user' => "#{@ticket.potential_subscribers[i].id}", 'data-subscription' => "#{i}" %>
          <p> <%= @ticket.potential_subscribers[i].full_name %> </p>
        <% end %>
      <% i += 1 %>
      <% end %>
      <%= f.submit class: 'btn btn-primary mb-2' %>
    <% end %>

    <%= link_to("â† Back", flat_path(@flat)) %>
  </div>
</div>


<%= javascript_pack_tag 'new_subscriptions' %>


<%#= s.collection_radio_buttons :user_id, [[@subscribers[@i-1].last, 'Yes'], ["", 'No']], :first, :last  %>
