<%= stylesheet_link_tag 'tribute', media: 'all' %>
<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="col-lg-9 col-md-12 col-sm-12 flat-content-container">

    <div class="row d-flex justify-content-around align-items-start">

      <div class="col-lg-7 col-md-8 col-sm-12">

        <div class="ticket-show-box-main">
          <div class="ticket-header-img">
            <% if @ticket.photo.file.nil? %>
              <%= image_tag image_path('sticky.jpg') %>
            <% else %>
              <%= image_tag img(@ticket) %>
            <% end %>
          </div>
          <div class="ticket-description">
            <div class="listener-cards ticket-author" style="padding-top: 0;">
              <%= image_tag avatar(rental_user(@rental)), style: "margin-right: 50px; width: 90px; height: 90px; object-fit: cover; border: 2px solid #3f3f3f;" %>
              <h3><%= rental_user(@rental).full_name %> on <%= @ticket.created_at.strftime("%d/%m/%Y") %> at <%= @ticket.created_at.strftime("%H:%M") %></h3>
            </div>

            <h3><%= @ticket.title %></h3>
            <p> <%= @ticket.content %> </p>
          </div>
        </div>

        <div id="comments">
          <% if @ticket.comments.blank? %>
            <h3></h3>
          <% else %>
            <h3> Comment section </h3>
          <% end %>
          <% @ticket.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
          <% end %>

          </div>

          <%= render 'comments/comment_form', flat: @flat, rental: @rental, ticket: @ticket, comment: @comment %>

      </div>

      <div class="col-lg-4 col-md-2 col-sm-12 ticket-show-box">
        <div class="ticket-owner-box">
          <%= image_tag avatar(rental_user(@rental)), style: "width: 120px; height: 120px; object-fit: cover; margin-bottom: 20px; border-radius: 50%" %>
          <h4><%= rental_user(@rental).full_name %></h4>
          <p style="text-align:center;">created the ticket on <%= @ticket.created_at.strftime("%d/%m/%Y") %></p>
          <div class="contact-action-bar">
            <a href="mailto:<%= rental_user(@rental).email %>"><i class="far fa-envelope icon-contact"></i></a>
            <% unless rental_user(@rental).phone_number.nil? %>
              <a href="tel:<%= rental_user(@rental).phone_number %>"><i class="fas fa-mobile-alt icon-contact"></i></a>
            <% end %>
          </div>





          <p><%= rental_user(@rental).phone_number %></p>
        </div>

        <h4>Details</h4>
        <div class="all-details">
        <div class="details">
          <h5><strong>Category: </strong><br><%= @ticket.category %> </h5>
          <h5><strong>Room: </strong><br><%= @ticket.room %> </h5>
        </div>

        <div class="details">
          <h5><strong>Status: </strong><br><%= @ticket.status %> </h5>
          <H5><strong>Priority: </strong><br><%= @ticket.priority %> </h5>
        </div>
        </div>

        <% if @ticket.subscriptions.empty? == false %>
          <div class="listeners">
          <h4>Listeners</h4>
          <% @ticket.subscribers.each do |user| %>
            <div class="listener-cards">

              <%= image_tag avatar(user), style: "width: 70px; height: 70px; object-fit: cover; border-radius: 50%"  %>
              <h3> <%= user.full_name %></h3>

            </div>
          <% end %>
        <% end %>
        <p> <%= button_to("All tickets", tickets_of_flat_path(@flat), method: 'get', class: 'btn-primary') %> </p>
        <p> <%= button_to("Mark as unread", mark_as_unread_path(@ticket), class: 'btn-primary') %> </p>
        <% if current_user == rental_user(@ticket.rental) %>
        <p> <%= button_to("Edit ticket", edit_flat_rental_ticket_path(@flat, @rental, @ticket), method: 'get', class: 'btn-primary') %> </p>
        <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
