<div class="row flat-row">

  <%= render 'shared/sidebar' %>

  <div class="col-lg-9 col-md-12 col-sm-12 flat-content-container">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="flat-show-box">

        <h1>Pay your rent</h1>
        <p>Proceed with settling your rental payment. Find the details listed below.</p>

        <div class="row d-flex justify-content-between">
          <div class="col-6">
            <p><strong>Rental id</strong> #<%= @order.rental.id %></p>
            <%= current_user.full_name %></br>
            <%= @flat.address %>
          </div>
          <div class="col-6 d-flex flex-column justify-content-end">
          <h3 style="text-align: right;"><%= humanized_money_with_symbol @order.amount %></h3>
          <p style="text-align: right;">for <%= Time.now.strftime('%B %Y') %></p>
          <button id="pay" class="btn btn-secondary" style="margin:0px;">Proceed to payment</button>
          </div>
        </div>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @order.checkout_session_id %>'
            });
          });
        </script>

        </div>
      </div>
    </div>
  </div>
</div>


