<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KOKOON. Your smart rental assistent</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
     <%#= stylesheet_pack_tag 'application', media: 'all' %>

     <%# meta information %>
     <meta name="title" content="Kokoon - Better rental experiences through seamless processes">
     <meta name="description" content="Kokoon enables landlords & tenants to organize everything that comes with renting a flat on a central spot, so that the rental experience is maximised">
     <meta name="keywords" content="kokoon">
     <meta name="robots" content="index, follow">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <meta name="language" content="English">
     <meta property="og:image" content="<%= asset_path('og-image.jpg') %>" />
    <%= favicon_link_tag asset_path('user2.ico') %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <div class="k-logo">
      <%= link_to(image_tag('logo.svg'), my_account_path) %>
    </div>

  <div class="menu-box">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
  </div>

    <div class="main">
      <%= yield %>


    </div>

    <a href="#" id="btn-backtop">
      <%= image_tag('top-arrow.png', id: "top-arrow") %>
    </a>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>

