<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KOKOON.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
     <%#= stylesheet_pack_tag 'application', media: 'all' %>
      <%= favicon_link_tag asset_path('greyscale_logo.ico') %>
  </head>
  <body>
    <div class="nav-box">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
    </div>

    <div class="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
  <script src="../app/assets/javascripts/main.js"></script>
  </body>
</html>
